{% load static %} {% block content %}
<html>
  <head>
    <title>Job Board Home Page</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <a href="#">LOGO</a>
        </div>
        <nav>
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="demand.html">Demand</a></li>
            <li><a href="geography.html">Geography</a></li>
            <li><a href="skills.html">Skills</a></li>
            <li><a href="latest_jobs.html">Latest Jobs</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      <h1 class="text-center">Latest Jobs</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Job Title</th>
            <th>Job Description</th>
            <th>Skills</th>
            <th>Company</th>
            <th>Salary</th>
            <th>Region</th>
            <th>Date posted</th>
          </tr>
        </thead>
        <tbody>
          {% for job in latest_jobs %}
          <tr>
            <td>{{ job.title }}</td>
            <td>{{ job.description }}</td>
            <td>{{ job.skills }}</td>
            <td>{{ job.company }}</td>
            <td>{{ job.salary }}</td>
            <td>{{ job.region }}</td>
            <td>{{ job.date_posted }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endblock %}

    <footer>
      <p>Copyright © 2022 Job Board</p>
    </footer>
  </body>
</html>
